In [3]:
import pandas as pd

In [4]:
data = {
    'Имя': ['Иван', 'Анна', 'Сергей', 'Ольга', 'Иван', 'Пётр'],
    'Возраст': [21, 20, None, 22, 21, 23],
    'Оценка': ['A', 'B', 'B', 'A', 'A', None],
    'Пол': ['М', 'Ж', 'М', 'Ж', 'М', 'М']
}

In [5]:
df = pd.DataFrame(data)
df

      Имя  Возраст Оценка Пол
0    Иван     21.0      A   М
1    Анна     20.0      B   Ж
2  Сергей      NaN      B   М
3   Ольга     22.0      A   Ж
4    Иван     21.0      A   М
5    Пётр     23.0   None   М

In [6]:
# 1. Удаление дубликатов
df_cleaned = df.drop_duplicates()
df_cleaned

      Имя  Возраст Оценка Пол
0    Иван     21.0      A   М
1    Анна     20.0      B   Ж
2  Сергей      NaN      B   М
3   Ольга     22.0      A   Ж
5    Пётр     23.0   None   М

In [7]:
# 2. Удаление строк с пропущенными значениями
df_cleaned = df_cleaned.dropna()
df_cleaned

     Имя  Возраст Оценка Пол
0   Иван     21.0      A   М
1   Анна     20.0      B   Ж
3  Ольга     22.0      A   Ж

In [8]:
# 3. Приведение типа столбца 'Возраст' к целочисленному (если это необходимо)
# В данном случае после удаления NaN в столбце 'Возраст' можно безопасно преобразовать тип
df_cleaned['Возраст'] = df_cleaned['Возраст'].astype(int)
df_cleaned

C:\Users\grigo\AppData\Local\Temp\ipykernel_13704\2221044562.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Возраст'] = df_cleaned['Возраст'].astype(int)

     Имя  Возраст Оценка Пол
0   Иван       21      A   М
1   Анна       20      B   Ж
3  Ольга       22      A   Ж

In [9]:
df.head(1)

    Имя  Возраст Оценка Пол
0  Иван     21.0      A   М

In [10]:
df.tail(2)

    Имя  Возраст Оценка Пол
4  Иван     21.0      A   М
5  Пётр     23.0   None   М

In [12]:
df.describe

<bound method NDFrame.describe of       Имя  Возраст Оценка Пол
0    Иван     21.0      A   М
1    Анна     20.0      B   Ж
2  Сергей      NaN      B   М
3   Ольга     22.0      A   Ж
4    Иван     21.0      A   М
5    Пётр     23.0   None   М>